<h1>Aircraft</h1>
<p>This SELECTs from our Aircraft Table</p>
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.aircraftID}} </td>
            <td>{{this.airlineCompany}} </td>
            <td>{{this.maxPassengers}} </td>
            <td><button class="delete-button" onclick="deleteAircraft({{this.aircraftID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_aircraft.js"></script>


<h2>Add a aircraft</h2>
<p>Please entry aircraft information to add a aircraft</p>
<form id="add-aircraft-form" method="POST" action="/add-aircraft-form">
    <label for="input-airlineCompany">Airline Company: </label>
    <input type="text" name="input-airlineCompany" id="input-airlineCompany">
    
    <label for="input-maxPassengers">Max passengers: </label>
    <input type="number" name="input-maxPassengers" id="input-maxPassengers">

    <button type="submit">Add Aircraft</button>
</form>

<a href='/'>Home</a>