<h1>Flights</h1>
<p>This SELECTs from our Flights Table</p>
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.[gateID (FK)]}} </td>
            <td>{{this.[aircraftID (FK)]}} </td>
            <td>{{this.flightID}} </td>
            <td>{{this.flightNumber}} </td>
            <td>{{this.numPassengers}} </td>
            
            <td><button>Edit</button></td>
            <td><button class="delete-button" onclick="deleteFlight({{this.flightID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_flight.js"></script>

<a href='/'>Home</a>