{{! 
The following areas were where sample code was obtained and edited for use in our project:
https://github.com/osu-cs340-ecampus/nodejs-starter-app
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
}}
<div class="container">
    <div class="white-box">
        <h1>Gates</h1>
        <p>This SELECTs from our Gates Table</p>
        <table>
            <thead>
                <tr>
                    <th>Gate ID</th>
                    <th>Terminal ID</th>
                    <th>Gate Name</th>
                    <th>Status</th>
                    <th>Flight ID</th>
                    <th>Flight Arrival Time</th>
                    <th>Flight Departure Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.gateID}} </td>
                    <td>{{this.terminalID}} </td>
                    <td>{{this.gateName}} </td>
                    <td>
                        {{#if this.isOpen}}
                            Open
                        {{else}}
                            Occupied
                        {{/if}}
                    </td>                    <td>{{this.flightID}} </td>
                    <td>{{this.flightArrivalTime}} </td>
                    <td>{{this.flightDepartureTime}} </td>
                    <td><button class="delete-button" onclick="deleteGate({{this.gateID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/delete_gate.js"></script>
    </div>
</div>

<div class="container">
    <div class="white-box">
        <h2>Add a gate</h2>
        <p>Please enter gate information to add a gate to the terminal</p>
        <form id="add-gate-form" method="POST" action="/add-gate-form">
        <label for="terminal-select">Select a Terminal ID:</label>
            <select name="terminal-select" id="terminal-select">
                <option value=Null>Select a Terminal</option>
                {{#each terminals}}
                    <option value={{this.terminalID}}>{{this.terminalID}}</option>
                {{/each}}
            </select>
            <label for="input-gateName">Gate Name: </label>
            <input type="text" name="input-gateName" id="input-gateName">

            <label for="occuiped-select"></label>
                <select name="occuiped-select" id="occuiped-select">
                    <option value=Null>Is the Gate occupied?</option>
                        <option value=0>Yes</option>
                        <option value=1>No</option>
                </select>

            <label for="flight-select">Select a Flight ID with no gate:</label>
                <select name="flight-select" id="flight-select">
                    <option value=Null>Select a flight</option>
                    <option value=Null>All flights already assigned to a gate or no flight ID</option>
                    {{#each flights}}
                        <option value={{this.flightID}}>{{this.flightID}}</option>
                    {{/each}}
                </select><br>
            <label for="arrival-time">Select arrival time</label>
            <input type="datetime-local" id="arrival-time" name="arrival-time" value="">

            <label for="departure-time">Select departure time</label>
            <input type="datetime-local" id="departure-time" name="departure-time" value="">

            <button class="button" type="submit">Add Gate</button>
        </form>
    </div>
</div>

<a class="nav-button centered-button" href='/'>Return to Home</a>