<div class="container">
    <div class="white-box">
        <h1>Gates</h1>
        <p>This SELECTs from our Gates Table</p>
        <table>
            <thead>
                <tr>
                    <th>Gate ID</th>
                    <th>Terminal ID</th>
                    <th>Gate Name</th>
                    <th>Status</th>
                    <th>Flight ID</th>
                    <th>Flight Arrival Time</th>
                    <th>Flight Departure Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.gateID}} </td>
                    <td>{{this.terminalID}} </td>
                    <td>{{this.gateName}} </td>
                    <td>
                        {{#if this.isOpen}}
                            Open
                        {{else}}
                            Occupied
                        {{/if}}
                    </td>                    <td>{{this.flightID}} </td>
                    <td>{{this.flightArrivalTime}} </td>
                    <td>{{this.flightDepartureTime}} </td>
                    <td><button class="delete-button" onclick="deleteGate({{this.gateID}})">Delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <script src="./js/delete_gate.js"></script>
    </div>
</div>

<div class="container">
    <div class="white-box">
        <h2>Add a gate</h2>
        <p>Please enter gate information to add a gate to the terminal</p>
        <form id="add-gate-form" method="POST" action="/add-gate-form">
            <label for="input-gateName">Gate Name: </label>
            <input type="text" name="input-gateName" id="input-gateName">
            
            <label for="input-numGates">Number of Gates: </label>
            <input type="number" name="input-numGates" id="input-numGates">

            <button class="button" type="submit">Add Gate</button>
        </form>
    </div>
</div>

<a class="nav-button centered-button" href='/'>Return to Home</a>