<h1>Gates</h1>
<p>This SELECTs from our Gates Table</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.gateID}} </td>
            <td>{{this.terminalID}} </td>
            <td>{{this.gateName}} </td>
            <td>{{this.isOpen}} </td>
            <td>{{this.flightID}} </td>
            <td>{{this.flightArrivalTime}} </td>
            <td>{{this.flightDepartureTime}} </td>
            <td><button class="delete-button" onclick="deleteGate({{this.gateID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_gate.js"></script>

<h2>Add a gate</h2>
<p>Please enter gate information to add a gate to the terminal</p>
<form id="add-gate-form" method="POST" action="/add-gate-form">
    <label for="input-gateName">Gate Name: </label>
    <input type="text" name="input-gateName" id="input-gateName">
    
    <label for="input-numGates">Number of Gates: </label>
    <input type="number" name="input-numGates" id="input-numGates">

    <button type="submit">Add Terminal</button>
</form>

<a href='/'>Home</a>