<h1>Terminals</h1>
<p>This SELECTs from our Terminals Table</p>
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.terminalID}} </td>
            <td>{{this.terminalName}} </td>
            <td>{{this.numGates}} </td>
            <td>{{this.numOpenGates}} </td>
            <td><button class="delete-button" onclick="deleteTerminal({{this.terminalID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_terminal.js"></script>

<h2>Add a terminal</h2>
<p>Please entry terminal information to add a terminal</p>
<form id="add-terminal-form" method="POST" action="/add-terminal-form">
    <label for="input-terminalName">Terminal Name: </label>
    <input type="text" name="input-terminalName" id="input-terminalName">
    
    <label for="input-numGates">Number of Gates: </label>
    <input type="number" name="input-numGates" id="input-numGates">

    <button type="submit">Add Terminal</button>
</form>

<h2>Updating A Terminal</h2>
<p>To update a specific terminal select it from the drop down on the left.</p>
<form id="update-person-form-ajax">

    <label for="input-terminalName">Terminal name: </label>
    <select name="input-terminalName" id="terminal-select">
        <option value="terminal-select-blank">Select a Terminal</option>
        {{#each data}}
        <option value="{{this.terminalID}}">{{this.terminalName}}</option>
        {{/each}}
    </select>

    <label for="input-numGates">Number of Gates: </label>
    <input type="number" name="input-numGates" id="input-numGates">
    <input type="submit" value="Update Terminal">

</form>

<script src="./js/update_person.js"></script>

<a href='/'>Home</a>